@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: proxima-nova;
}

body{
  background-color: #fff !important;
}

.container{
  max-width: 1060px !important;
  margin: 0 auto !important;
}

.bg-gray-100{
  background-color: #fff !important;
}

.bgred {
  background-image: url("./assets/images/png/shape.png");
  background-repeat: no-repeat;
  background-position: left -17px;
  background-size: 430px;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.ajoyib{
  background: transparent linear-gradient(90deg, #E01E3C 0%, #FF8300 100%) 0% 0% no-repeat padding-box;
}



.one-div{
  background-image: url("./assets/images/png/red-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width:70vh;
  height: 100vh;
}


@media (max-width: 640px) {
  .one-div {
    display:relative;
    background-image: url("./assets/images/png/responsive.png");
    width:390px;
    height:221px;
    background-position: top;
  }
}